{% extends 'blog/base.html' %}

{% block title %}
Página de Inicio
{% endblock %}

{% block content %}
    <h2 style="font-family: 'Arial', sans-serif; color: black; font-size: 2em; margin-top: 30px;">Publicaciones Recientes</h2>
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
                <small>Publicado el: {{ post.created_at }}</small>
            </li>
        {% empty %}
            <p>No hay publicaciones aún.</p>
        {% endfor %}
    </ul>
{% endblock %}